@charset "UTF-8";
/* color theme */
body {
  background: #f3f3f3;
  min-width: 1400px;
}

/* 로그인 화면 */
.login {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #2A3540;
}

.login__box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 470px;
  padding: 88px 80px;
  background: #F3F3F3;
  border-radius: 8px;
  text-align: center;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.login__logo {
  margin-bottom: 50px;
}

.login__form .box_login_ipt {
  margin-bottom: 10px;
}

.login__form input[type='text'], .login__form input[type='password'] {
  height: 45px;
  width: 100%;
  padding: 8px 10px;
  background: #ffffff;
  border-radius: 4px;
}

.login__form input[type='text']::-webkit-input-placeholder {
  color: #788197;
}

.login__form input[type='text']:-ms-input-placeholder {
  color: #788197;
}

.login__form input[type='text']::-ms-input-placeholder {
  color: #788197;
}

.login__form input[type='text']::placeholder {
  color: #788197;
}

.login__form input[type='password']::-webkit-input-placeholder {
  color: #788197;
}

.login__form input[type='password']:-ms-input-placeholder {
  color: #788197;
}

.login__form input[type='password']::-ms-input-placeholder {
  color: #788197;
}

.login__form input[type='password']::placeholder {
  color: #788197;
}

.login__form .btn_login {
  display: block;
  margin-top: 15px;
}

.login__form .btn_login input[type='submit'] {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  border-radius: 4px;
  border: 0;
  background: #1592e6;
  color: #ffffff;
  font-size: 17px;
}

.login__form .gongin {
  display: block;
  width: 100%;
  height: 45px;
  margin-top: 8px;
  line-height: 45px;
  border: 1px solid #529cf0;
  border-radius: 4px;
  color: #529cf0;
  font-size: 17px;
}

.header {
  width: 100%;
  padding: 0 15px;
  height: 70px;
  background: #2a3540;
}

.header__logo {
  float: left;
  margin-top: 22px;
}

.header__logo a {
  display: block;
}

.header__nav {
  float: left;
  margin-left: 50px;
  height: 70px;
  line-height: 70px;
}

.header__nav ul li {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  margin: 0 10px;
  height: 100%;
}

.header__nav ul li a {
  font-family: 'NanumSquare';
  color: #8e96a2;
  font-size: 21px;
  font-weight: 600;
}

.header__nav li.active:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  content: '';
  border-bottom: 4px solid #1592e6;
}

.header__nav li.active a {
  color: #1592e6;
}

.header__info {
  float: right;
  margin-top: 20px;
}

.header__info li {
  display: inline-block;
  color: #8e96a2;
}

.header__info li span {
  display: inline-block;
}

.header__info li span.bonbu {
  background: #8e96a2;
  color: #ffffff;
  padding: 0 8px;
  margin-right: 8px;
}

.header__info li span.username {
  margin-right: 5px;
  color: #e2e3e3;
  font-size: 17px;
}

.header__info li .btn__logout {
  display: inline-block;
  height: 100%;
  padding: 0 8px;
  border-radius: 4px;
  border: 1px solid #1592e6;
  color: #1592e6;
}

.header__info li .btn__logout:hover {
  color: #ffffff;
  background: #1592e6;
}

.header__info li + li {
  margin-left: 15px;
}

#_wrap {
  position: relative;
  height: calc(100vh - 100px);
  min-height: 870px;
}

#_wrap .godash {
  position: absolute;
  top: 35px;
  right: 50%;
  width: 290px;
  background: #314558;
  z-index: 999;
  margin-right: 650px;
  overflow: hidden;
}

#_wrap .godash h2 {
  position: relative;
  float: left;
  width: 290px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  background: #1592E6;
  font-size: 18px;
}

#_wrap .godash h2:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
  width: 270px;
  height: 40px;
  border: 1px solid #ffffff;
  opacity: 0.4;
}

#_wrap .godash h2:after {
  position: absolute;
  bottom: -10px;
  left: 133px;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 800;
  border-top: 12px solid #1592E6;
  border-bottom: 12px solid none;
  border-right: 12px solid transparent;
  border-left: 12px solid  transparent;
}

#_wrap .godash ul li {
  float: left;
  width: 50%;
  height: 115px;
  text-align: center;
  border-bottom: 1px solid #4A5C6C;
}

#_wrap .godash ul li:nth-child(2n) {
  border-left: 1px solid #4A5C6C;
}

#_wrap .godash ul li:nth-child(9) {
  border-bottom: none;
}

#_wrap .godash ul li:nth-child(10) {
  border-bottom: none;
}

#_wrap .godash ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  letter-spacing: -0.5px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.1;
}

#_wrap .godash ul li a img {
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
}

#_wrap .godash ul li a:hover {
  color: #facf00;
}

#_wrap .gomenu {
  position: absolute;
  left: 50%;
  bottom: 200px;
  margin-left: -620px;
  width: 1240px;
  height: 60px;
  z-index: 990;
  background: #ffffff;
}

#_wrap .gomenu h2 {
  position: relative;
  float: left;
  width: 20%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  background: #facf00;
}

#_wrap .gomenu h2:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
  width: 227px;
  height: 40px;
  border: 1px solid #ffffff;
  opacity: 0.4;
}

#_wrap .gomenu h2:after {
  position: absolute;
  top: 18px;
  right: -10px;
  content: '';
  width: 0px;
  height: 0px;
  z-index: 800;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid none;
  border-left: 12px solid  #facf00;
}

#_wrap .gomenu ul li {
  position: relative;
  float: left;
  width: 20%;
  height: 60px;
  line-height: 59px;
  text-align: center;
}

#_wrap .gomenu ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #555151;
  background: #ffffff;
}

#_wrap .gomenu ul li a img {
  margin-right: 8px;
}

#_wrap .gomenu ul li a:hover {
  line-height: 53px;
  border-bottom: 4px solid #facf00;
}

#_wrap .gomenu ul li + li:before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 1px;
  height: 60px;
  border-left: 1px solid #d9d9d9;
}

#_vis {
  text-align: center;
  position: relative;
  overflow: hidden;
}

#_vis .__p {
  height: 100px;
}

#_vis ._vis {
  text-align: center;
  position: relative;
  overflow: hidden;
  display: block;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 100px) !important;
  cursor: default;
}

#_vis > ._roll > ._vis:nth-child(n+2) {
  display: none;
}

#_vis .maintitle {
  text-align: left;
  width: 1240px;
  margin: 250px auto 0;
  font-size: 45px;
  color: #ffffff;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

#_vis .pointcolor {
  color: #F6F651;
}

#_vis .subtext {
  width: 1240px;
  text-align: left;
  margin: 0 auto;
  font-size: 20px;
  color: #ffffff;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

#_vis .bx-controls {
  position: absolute;
  bottom: 290px;
  width: 100%;
  z-index: 100;
  text-align: center;
}

#_vis .bx-pager .bx-pager-item {
  display: inline;
}

#_vis .bx-pager .bx-pager-item a {
  display: inline-block;
  text-align: left;
  margin: 0 3px;
  width: 18px;
  height: 18px;
  background: url(../images/vis-off.png) no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#_vis .bx-pager .bx-pager-item a.active {
  background: url(../images/vis-on.png) no-repeat;
}

#_vis .bx-controls-auto {
  width: 20px;
  display: inline-block;
}

#_vis .bx-controls-auto a {
  display: inline-block;
  text-indent: -9999px;
}

#_vis .bx-controls-auto .bx-start {
  width: 19px;
  height: 20px;
  background: url(../images/vis-play.png) center 2px no-repeat;
}

#_vis .bx-controls-auto .bx-stop {
  width: 15px;
  height: 19px;
  background: url(../images/vis-stop.png) center 2px no-repeat;
}

#_vis .bx-pager {
  display: inline-block;
}

#_vis .bx-viewport {
  height: calc(100vh - 100px) !important;
}

#_vis .bx-wrapper .bx-pager {
  text-align: center;
  width: auto;
}

#_vis .bx-wrapper .bx-pager {
  margin-left: 10px;
}

.board__wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 170px;
  background: rgba(34, 39, 42, 0.7);
  z-index: 990;
}

.board__wrap .board {
  width: 1240px;
  padding: 15px 0;
  margin: 0 auto;
}

.board__wrap .board__notice {
  width: 395px;
  float: left;
}

.board__wrap .board__notice .tab li a {
  display: inline-block;
  color: #f2f2f1;
  font-size: 18px;
  font-weight: 300;
  padding: 0 10px 10px 10px;
}

.board__wrap .board__notice .tab li a.on {
  color: #facf00;
  border-bottom: 2px solid #facf00;
}

.board__wrap .board__notice .notice {
  margin-top: 12px;
}

.board__wrap .board__notice .notice ul li {
  width: 395px;
  color: #ffffff;
  line-height: 30px;
  font-size: 16px;
}

.board__wrap .board__notice .notice ul li a {
  float: left;
  width: 275px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
  font-weight: 300;
}

.board__wrap .board__notice .notice ul li a .cate {
  color: #facf00;
  margin-right: 5px;
}

.board__wrap .board__notice .notice ul li a:hover {
  text-decoration: underline;
}

.board__wrap .board__notice .notice ul li a:hover span {
  text-decoration: inherit;
}

.board__wrap .board__notice .notice ul li .date {
  float: right;
  color: #c7c7c6;
  font-weight: 300;
}

.board__wrap .board__etc {
  width: 330px;
  float: left;
  margin-left: 70px;
}

.board__wrap .board__etc .tab li {
  display: inline-block;
}

.board__wrap .board__etc .tab li + li {
  margin-left: 10px;
}

.board__wrap .board__etc .tab li a {
  display: inline-block;
  color: #f2f2f1;
  font-size: 18px;
  font-weight: 300;
  padding: 0 10px 10px 10px;
}

.board__wrap .board__etc .tab li a.on {
  color: #58BCFF;
  border-bottom: 2px solid #58BCFF;
}

.board__wrap .board__etc .content {
  position: relative;
  width: 330px;
  height: 100px;
}

.board__wrap .board__etc .content ul li {
  width: 330px;
  color: #ffffff;
  line-height: 30px;
  font-size: 16px;
}

.board__wrap .board__etc .content ul li a {
  float: left;
  width: 330px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
  font-weight: 300;
}

.board__wrap .board__etc .content ul li a .cate {
  color: #58BCFF;
  margin-right: 5px;
}

.board__wrap .board__etc .content ul li a:hover {
  text-decoration: underline;
}

.board__wrap .board__etc .content ul li a:hover span {
  text-decoration: inherit;
}

.board__wrap .board__etc .content div {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 455px;
  margin-top: 10px;
}

.board__wrap .board__banner {
  position: relative;
  float: left;
  margin-left: 70px;
  width: 375px;
}

.board__wrap .board__banner h2 {
  margin-bottom: 5px;
  color: #f2f2f1;
  font-size: 18px;
  font-weight: 300;
}

.board__wrap .board__banner .bx-has-pager {
  margin-top: -135px;
}

.board__wrap .board__banner .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: right;
  width: 100%;
}

.board__wrap .board__banner .bx-controls-auto {
  display: none;
}

.board__wrap .board__banner .bx-wrapper .bx-pager {
  padding-top: 0;
}

.site {
  position: absolute;
  top: 35px;
  left: 50%;
  width: 220px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.7);
  z-index: 999;
  margin-left: 650px;
  overflow: hidden;
}

.site .gosite {
  float: left;
  margin-left: -5px;
  margin-right: -5px;
}

.site .gosite li + li {
  margin-top: 7px;
}

.site .gosite img {
  width: 200px;
}

.containerWrap {
  position: relative;
  width: 100%;
}

.containerWrap .leftNav {
  width: 350px;
  height: calc(100vh - 99px);
  position: absolute;
  left: 0px;
  top: 0px;
  background: #eceef0;
  z-index: 450;
}

.containerWrap .leftNav__title {
  background: #3f4954;
  padding: 0 15px;
}

.containerWrap .leftNav__title h2 {
  color: #ffffff;
  font-family: 'NanumSquare';
  font-size: 20px;
  line-height: 54px;
  font-weight: 700;
}

.containerWrap .leftNav .btn_toggleSnb {
  border: none;
  position: absolute;
  top: 0;
  right: -18px;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.containerWrap .leftNav .btn_toggleSnb.open {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.containerWrap .leftNav__2depth {
  padding: 10px;
  height: calc(100vh - 154px);
  overflow-y: scroll;
}

.containerWrap .leftNav__2depth .nontree li {
  position: relative;
  line-height: 45px;
  font-size: 17px;
  margin-bottom: 10px;
}

.containerWrap .leftNav__2depth .nontree li a {
  display: block;
  font-family: 'NanumSquare';
  font-weight: 700;
  color: #2a3540;
  padding: 0 10px;
}

.containerWrap .leftNav__2depth .nontree li a:hover {
  border-radius: 4px;
  background: #ffffff;
}

.containerWrap .leftNav__2depth .nontree li.on a {
  color: #1592e6;
  display: block;
  padding: 0 10px;
  border-radius: 4px;
  background: #ffffff;
}

.containerWrap .contentWrap {
  position: absolute;
  right: 0px;
  width: calc(100% - 350px);
  height: 500px;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 30px;
}

.containerWrap .contentWrap__top {
  font-family: 'NanumSquare';
  color: #2a3540;
  font-size: 20px;
  font-weight: 700;
}

.containerWrap .contentWrap__title {
  margin-bottom: 20px;
  font-family: 'NanumSquare';
  color: #2a3540;
  font-size: 24px;
  font-weight: 700;
}

.containerWrap .contentWrap__search {
  margin-bottom: 15px;
  background: #ffffff;
  border-top: 2px solid #529cf0;
}

.containerWrap .contentWrap .searchBox {
  width: 100%;
  padding: 20px 30px;
  margin-bottom: 15px;
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.containerWrap .contentWrap .searchBox__item {
  display: inline-block;
  /* ie 기본 화살표 없앰 */
}

.containerWrap .contentWrap .searchBox__item input[type='checkbox'] + label {
  display: inline-block;
  height: 22px;
  line-height: 21px;
  padding: 0 0 0 25px;
  font-size: 14px;
  background: url(../images/inp_checkbox.gif) no-repeat left center;
  cursor: pointer;
}

.containerWrap .contentWrap .searchBox__item input[type='checkbox']:checked + label {
  background: url(../images/inp_checkbox_on.gif) no-repeat left center;
}

.containerWrap .contentWrap .searchBox__item input[type='radio'] + label {
  display: inline-block;
  height: 22px;
  line-height: 21px;
  padding: 0 0 0 25px;
  font-size: 14px;
  background: url(../images/inp_radiobox.gif) no-repeat left center;
  cursor: pointer;
}

.containerWrap .contentWrap .searchBox__item input[type='radio']:checked + label {
  background: url(../images/inp_radiobox_on.gif) no-repeat left center;
}

.containerWrap .contentWrap .searchBox__item input[type='text'], .containerWrap .contentWrap .searchBox__item input[type='password'] {
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  font-size: 14px;
  color: #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.containerWrap .contentWrap .searchBox__item input[type='text'] {
  min-width: 150px;
  width: auto;
}

.containerWrap .contentWrap .searchBox__item select {
  min-width: 150px;
  height: 35px;
  margin: 0;
  padding: 5px 25px 6px 10px;
  border: 1px solid #d0d0d0;
  background: url(../images/select_bg.gif) 100% 50% no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  word-wrap: break-word;
  z-index: 10;
  font-size: 15px;
  color: #8e8e8e;
}

.containerWrap .contentWrap .searchBox__item select::-ms-expand {
  display: none;
}

.containerWrap .contentWrap .searchBox__item .title {
  float: left;
  margin-right: 15px;
  line-height: 35px;
  font-size: 16px;
  color: #7d838a;
  font-weight: 500;
}

.containerWrap .contentWrap .searchBox__item .search {
  display: inline-block;
  min-width: 80px;
  height: 35px;
  line-height: 35px;
  font-size: 17px;
  background: #1592e6;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  vertical-align: middle;
}

.containerWrap .contentWrap .searchBox__item + .searchBox__item {
  margin-left: 45px;
}

.containerWrap .contentWrap__contents {
  padding: 15px 15px 80px 15px;
  min-height: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background: #ffffff;
}

.containerWrap .contentWrap.short {
  right: 0;
  width: 100%;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.footer {
  position: fixed;
  bottom: 0;
  min-width: 1902px;
  width: 100%;
  padding: 5px 10px;
  border-top: 1px solid #dee1e4;
  background: #f3f3f3;
  text-align: center;
  color: #b8bec5;
}

.footer p {
  font-size: 13px;
}

#dc_treemenu, #dc_treemenu ul, #dc_treemenu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#dc_treemenu ul {
  display: none;
}

#dc_treemenu li {
  line-height: 200%;
  margin-top: 1px;
  position: relative;
  width: 100%;
}

* html #dc_treemenu li {
  display: inline;
  float: left;
}

#dc_treemenu li a {
  padding-left: 30px;
  color: #2a3540;
}

#dc_treemenu li span {
  cursor: auto;
  float: left;
  font-size: 0;
  height: 18px;
  left: 5px;
  position: absolute;
  top: 18px;
  width: 18px;
}

#dc_treemenu li span, #dc_treemenu li span.collapsed {
  background: url(../images/collapsed.png) no-repeat 0 0;
}

#dc_treemenu li span.expanded {
  background: url(../images/expanded.png) no-repeat 0 0;
}

#dc_treemenu li li {
  background: #ffffff;
}

#dc_treemenu li li a {
  padding-left: 56px;
}

#dc_treemenu li li span {
  left: 28px;
}

#dc_treemenu li li li a {
  padding-left: 50px;
  color: #545e67;
}

#dc_treemenu li li li a:before {
  content: '-';
  padding-right: 8px;
}

#dc_treemenu li li li span {
  left: 56px;
}

#dc_treemenu > li {
  border-bottom: 1px solid #c5cbcf;
  line-height: 53px;
}

#dc_treemenu > li > ul > li > span, #dc_treemenu > li > ul > li > span.collapsed {
  background: url(../images/2depthoff.png) no-repeat 0 0;
  top: 10px;
}

#dc_treemenu > li > ul > li > span.expanded {
  background: url(../images/2depthon.png) no-repeat 0 0;
}

#dc_treemenu > li > ul > li > a {
  color: #667079;
  padding-left: 50px;
}

.item {
  margin-top: 10px;
}

.item__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__box .form_tit {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 15px;
  color: #5b5c61;
}

.item .item__box input[type='text'], .item .item__box input[type='password'], .item .item__box select {
  padding: 0 10px;
  width: 100%;
  height: 44px;
  border: 1px solid #c9cdd3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  color: #222222;
}

.item__input.col2 .item__box {
  display: inline-block;
  width: calc(50% - 16px);
}

.item table {
  background: #ffffff;
}

.item .table_type1 tbody {
  width: 100%;
  border-top: 1px solid #dae0e4;
}

.item .table_type1 tr {
  border-bottom: 1px solid #dae0e4;
}

.item .table_type1 th {
  padding: 30px 15px 0;
  min-height: 74px;
  text-align: left;
  font-size: 14px;
  vertical-align: top;
  color: #5b5c61;
  background: #f1f4f6;
}

.item .table_type1 td {
  display: block;
  padding: 14px 0 14px 17px;
  min-height: 74px;
}

.item .table_type1 .channel_address {
  font-size: 15px;
  color: #222222;
}

.item .table_type1 .channel_detail {
  font-size: 14px;
  color: #222222;
}

.item .table_type1 td input[type='text'], .item .table_type1 td input[type='password'], .item .table_type1 td select {
  padding: 0 10px;
  width: 252px;
  height: 44px;
  border: 1px solid #c9cdd3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  color: #222222;
}

.item textarea {
  margin-top: 13px;
  padding: 18px 9px;
  width: 100%;
  border: 1px solid #c9cdd3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  color: #222222;
  line-height: 26px;
  letter-spacing: -0.005em;
}

.item .table_type1 span + input, .item .table_type1 .won + .channel_detail {
  margin-left: 16px;
}

.item .table_type1 input + button {
  margin-left: 5px;
}

.item .table_type1 button + button {
  margin-left: 47px;
}

.item .table_type1 .sel {
  display: inline-block;
}

.item .table_type1 .won {
  display: inline-block;
  position: relative;
}

.item .table_type1 .won input[type='text'] {
  padding-right: 44px;
}

.item .table_type1 .won span {
  position: absolute;
  top: 13px;
  right: 18px;
  vertical-align: middle;
}

.item .table_type1 .wave {
  padding: 0 7px 0 10px;
}

.item .table_type1 .inp input[type='text'] {
  width: 142px;
}

.item .table_type1 .chk_box + .sel, .item .table_type1 .price + .won {
  margin-left: 8px;
}

.item .table_type1 .price {
  font-size: 14px;
  color: #222222;
}

.item .table_type1 .price_wrap + .price_wrap {
  margin-top: 10px;
}

.item .box_calendar {
  float: left;
  position: relative;
}

.item .box_calendar .btn_cal {
  position: absolute;
  right: 15px;
  top: 14px;
  z-index: 200;
  width: 16px;
  height: 16px;
  background: url(../images/btn_cal.png);
}

.refer {
  font-size: 12px;
  line-height: 26px;
  letter-spacing: -0.005em;
  color: #757981;
}

.btn_wrap {
  text-align: center;
}

.btn_wrap .btn {
  display: inline-block;
  padding: 14px 0;
  width: 200px;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: -0.005em;
  text-align: center;
  background: #1592e6;
}

.btn_wrap .btn.color2 {
  border: 1px solid #1592e6;
  color: #1592e6;
  background: #ffffff;
}
/*# sourceMappingURL=layout.css.map */