@charset 'utf-8';
@font-face {
  font-family:'Noto Sans KR';
  font-style:normal;
  font-weight:300;
  src:url('../fonts/noto-sans-kr-v12-latin_korean-300.eot');
  /* IE9 Compat Modes */
  src:local('Noto Sans KR Light'), local('NotoSansKR-Light'), url('../fonts/noto-sans-kr-v12-latin_korean-300.eot?#iefix') format('embedded-opentype'), url('../fonts/noto-sans-kr-v12-latin_korean-300.woff2') format('woff2'), url('../fonts/noto-sans-kr-v12-latin_korean-300.woff') format('woff'), url('../fonts/noto-sans-kr-v12-latin_korean-300.ttf') format('truetype'), url('../fonts/noto-sans-kr-v12-latin_korean-300.svg#NotoSansKR') format('svg');
  /* Legacy iOS */
}

/* noto-sans-kr-regular - latin_korean */
@font-face {
  font-family:'Noto Sans KR';
  font-style:normal;
  font-weight:400;
  src:url('../fonts/noto-sans-kr-v12-latin_korean-regular.eot');
  /* IE9 Compat Modes */
  src:local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), url('../fonts/noto-sans-kr-v12-latin_korean-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/noto-sans-kr-v12-latin_korean-regular.woff2') format('woff2'), url('../fonts/noto-sans-kr-v12-latin_korean-regular.woff') format('woff'), url('../fonts/noto-sans-kr-v12-latin_korean-regular.ttf') format('truetype'), url('../fonts/noto-sans-kr-v12-latin_korean-regular.svg#NotoSansKR') format('svg');
  /* Legacy iOS */
}

/* noto-sans-kr-500 - latin_korean */
@font-face {
  font-family:'Noto Sans KR';
  font-style:bold;
  font-weight:500;
  src:url('../fonts/noto-sans-kr-v12-latin_korean-500.eot');
  /* IE9 Compat Modes */
  src:local('Noto Sans KR Medium'), local('NotoSansKR-Medium'), url('../fonts/noto-sans-kr-v12-latin_korean-500.eot?#iefix') format('embedded-opentype'), url('../fonts/noto-sans-kr-v12-latin_korean-500.woff2') format('woff2'), url('../fonts/noto-sans-kr-v12-latin_korean-500.woff') format('woff'), url('../fonts/noto-sans-kr-v12-latin_korean-500.ttf') format('truetype'), url('../fonts/noto-sans-kr-v12-latin_korean-500.svg#NotoSansKR') format('svg');
  /* Legacy iOS */
}

/* noto-sans-kr-700 - latin_korean */
@font-face {
  font-family:'Noto Sans KR';
  font-style:normal;
  font-weight:700;
  src:url('../fonts/noto-sans-kr-v12-latin_korean-700.eot');
  /* IE9 Compat Modes */
  src:local('Noto Sans KR Bold'), local('NotoSansKR-Bold'), url('../fonts/noto-sans-kr-v12-latin_korean-700.eot?#iefix') format('embedded-opentype'), url('../fonts/noto-sans-kr-v12-latin_korean-700.woff2') format('woff2'), url('../fonts/noto-sans-kr-v12-latin_korean-700.woff') format('woff'), url('../fonts/noto-sans-kr-v12-latin_korean-700.ttf') format('truetype'), url('../fonts/noto-sans-kr-v12-latin_korean-700.svg#NotoSansKR') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family:'NanumSquare';
  font-style:normal;
  font-weight:400;
  src:url('../fonts/NanumSquareR.eot');
  /* IE9 Compat Modes */
  src:url('../fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'), local('NanumSquareR'), url('../fonts/NanumSquareR.woff') format('woff'), url('../fonts/NanumSquareR.ttf') format('truetype');
  /* Safari, Android, iOS */
}

@font-face {
  font-family:'NanumSquare';
  font-weight:700;
  src:url('../fonts/NanumSquareB.eot');
  /* IE9 Compat Modes */
  src:url('../fonts/NanumSquareB.eot?#iefix') format('embedded-opentype'), local('NanumSquareB'), url('../fonts/NanumSquareB.woff') format('woff'), url('../fonts/NanumSquareB.ttf') format('truetype');
  /* Safari, Android, iOS */
}

@font-face {
  font-family:'NanumSquare';
  font-style:bold;
  font-weight:800;
  src:url('../fonts/NanumSquareEB.eot');
  /* IE9 Compat Modes */
  src:url('../fonts/NanumSquareEB.eot?#iefix') format('embedded-opentype'), local('NanumSquareEB'), url('../fonts/NanumSquareEB.woff') format('woff'), url('../fonts/NanumSquareEB.ttf') format('truetype');
  /* Safari, Android, iOS */
}
/* reset */
*,:after,:before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
html,body {
  margin:0;
  padding:0;
  -webkit-text-size-adjust:none;
  font-family:'Noto Sans KR','맑은 고딕','malgun gothic', dotum, '돋움', Sans-Serif;
  font-size:15px;
  font-weight:normal;
  color:#565656;
  line-height:1.4;
  word-break:keep-all;
}
body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,header,section,address,nav,footer,aside {
  margin:0;
  padding:0;
  font-weight:normal;
}
h1,h2,h3,h4,h5,h6,strong,address {
  font-weight:normal;
}
img,fieldset,iframe {
  border:0;
}
img {
  max-width:100%;
  width:auto;
  vertical-align:top;
}
ul,ol,dl,dt,dd,li {
  list-style:none;  
}
article,aside,footer,header,nav,main,section,summary,details,hgroup,figure,figcaption {
  display:block;
}
audio,canvas,video,progress {
  display:inline-block;
  vertical-align:baseline;
}
i,em,address {
  font-style:normal;
}
a {
  display:block;
  color:#000000;
  text-decoration:none;
}
a:hover,a:active,a:focus {
  text-decoration:none;
}
button {
  overflow:visible;
  border:0;
  background:transparent;
  white-space:nowrap;
  cursor:pointer;
}
button::-moz-focus-inner {
  padding:0;
  border:0;
}
input::-ms-clear {
  display:none;
}
label {
  cursor:pointer;
}
table {
  width:100%;
  border-spacing:0;
  border-collapse:collapse;
}
legend,caption {
  display:block;
  overflow:hidden;
  position:absolute;
  top:0;
  left:0;
  width:1px;
  height:1px;
  font-size:0;
  line-height:0;
  white-space:nowrap;
}
/* legend,caption {overflow:hidden;width:1px;height:1px;margin:-1px 0 0 -1px;font-size:1px;line-height:0} */

/* input */
input,textarea,select,button {
  margin:0;
  padding:0;
  border:0;
  border-radius:0;
  vertical-align:middle;
  font-family:inherit;
  font-size:inherit;
  line-height:inherit;
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
}
select::-ms-expand {
  display:none;
}
input[type='checkbox'] {
  appearance:checkbox;
  -webkit-appearance:checkbox;
  -moz-appearance:checkbox;
}
input[type='radio'] {
  appearance:radio;
  -webkit-appearance:radio;
  -moz-appearance:radio;
}
/*input[type="text"]{font-family: 'Noto Sans KR','맑은 고딕','malgun gothic', dotum, '돋움', Sans-Serif;}*/
textarea {
  resize:none;
}
select:focus,button:focus,input:focus,textarea:focus {
  outline-width:0;
}
button {
  background:transparent;
}
button,input[type=submit] {
  cursor:pointer;
}
button,select {
  text-transform:none;
}
button::-moz-focus-inner,input::-moz-focus-inner {
  padding:0;
  border:0;
}
button[disabled],input[disabled] {
  cursor:default;
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
  -webkit-appearance:none;
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
  height:auto;
  -webkit-appearance:none;
  margin:0;
}
*::-webkit-input-placeholder {
  color:#cacaca;
}
*:-moz-placeholder {
  color:#cacaca;
}
*::-moz-placeholder {
  color:#cacaca;
}
*:-ms-input-placeholder {
  color:#cacaca;
}

/* blind */
.blind {
  clip:rect(0,0,0,0);
  overflow:hidden;
  display:block;
  width:1px;
  height:1px;
  margin:-1px;
  padding:0;
  border:0;
  font-size:1px;
  line-height:0;
}
.ir {
  clip:rect(0,0,0,0);
  overflow:hidden;
  display:block;
  width:1px;
  height:1px;
  margin:-1px;
  padding:0;
  border:0;
  font-size:1px;
  line-height:0;
}


label img {
  pointer-events:none;
}

html,body {
  width:100%;
}
/* html{overflow-y:scroll;overflow-x:hidden;} */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select {
  margin:0;
  padding:0;
}
body,input,textarea,select,button,table,form,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd {
  font-family:'Noto Sans KR','맑은 고딕','malgun gothic', dotum, '돋움', Sans-Serif;
  font-size:15px;  
}
h1,h2,h3,h4 {
  font-weight:normal;
}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
  display:block;
}
strong {
  font-weight:bold !important;
}
img,fieldset {
  border:0;
}
img {
  vertical-align:middle;
}
fieldset {
  display:block;
}
ul,ol {
  list-style:none;
}
em,address {
  font-style:normal;
}
input[type='text'],input[type='number'],input[type='password'],select {
  vertical-align:middle;
  border:solid 1px #d0d0d0;
}
input[type='radio'] {
  vertical-align:middle;
}
textarea {
  width:100%;
  padding:3px;
  text-align:left;
  line-height:18px;
  color:#666666;
  border:solid 1px #d0d0d0;
  resize:none;
  overflow-y:auto;
}
select {
  border:solid 1px #d0d0d0;
}
hr,legend {
  display:none;
}
caption {
  overflow:hidden;
  width:0px;
  height:0px;
  padding:0;
  font-size:0;
  line-height:0;
  text-indent:-999px;
}
table {
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
}
table th {
  font-size:13px;
  font-weight:normal;
}
button {
  border:none;
  background:transparent;
  cursor:pointer;
  width:auto;
  overflow:visible;
  display:inline-block;
  zoom:1;
}
button::-moz-focus-inner {
  border:0;
  padding:0;
  margin:0;
}
a {
  text-decoration:none;
}
a:link {
  text-decoration:none;
}
a:visited {
  text-decoration:none;
}
a:hover {
  text-decoration:none;
}
a:focus {
  text-decoration:none;
}
a:active {
  text-decoration:none;
}
.blind,legend,.ir,caption {
  overflow:hidden;
  width:100%;
  height:0px;
  font-size:0;
  line-height:0;
  text-indent:-9999px;
}
.hidden {
  visibility:hidden;
  width:0;
  height:0;
}

.fl {
  float:left !important;
}
.fr {
  float:right !important;
}
.fn {
  float:none !important;
}
.cb {
  clear:both !important;
}
.ac {
  text-align:center !important;
}
.al {
  text-align:left !important;
}
.ar {
  text-align:right !important;
}
.vt {
  vertical-align:top !important;
}
.vm {
  vertical-align:middle !important;
}
.vb {
  vertical-align:bottom !important;
}
.oh {
  overflow:hidden !important;
}
.cp {
  cursor:pointer !important;
}
.di {
  display:inline !important;
}
.dib {
  display:inline-block;
  display:-moz-inline-box;
}
.dn {
  display:none !important;
}
.db {
  display:block !important;
}
.vv {
  visibility:visible !important;
}
.vh {
  visibility:hidden !important;
}
.fb {
  font-weight:bold !important;
}
.fn {
  font-weight:normal !important;
}
.fs {
  font-size:11px !important;
}
.fixed {
  table-layout:fixed;
}
.pr {
  position:relative;
}
.clfix:after {
  display:block;
  clear:both;
  content:'';
}
.lesstx {
  font-family:'Nanum Gothic';
}

.mt5 {
  margin-top:5px !important;
}
.mt10 {
  margin-top:10px !important;
}
.mt25 {
  margin-top:25px !important;
}
.mt30 {
  margin-top:30px !important;
}
.mt40 {
  margin-top:40px !important;
}
.mt50 {
  margin-top:50px !important;
}
.mt80 {
  margin-top:80px !important;
}
.mt70 {
  margin-top:70px !important;
}
.mt15 {
  margin-top:15px !important;
}
.mt60 {
  margin-top:60px !important;
}
.mt20 {
  margin-top:20px !important;
}
.mr0 {
  margin-right:0px !important;
}
.ml0 {
  margin-left:0px !important;
}
.ml5 {
  margin-left:5px !important;
}
.ml10 {
  margin-left:10px !important;
}

.ptcolor {
  color:#006dff;
}

.listCheck {
  display:inline-block;
  position:relative;
}
.listCheck input[type='checkbox'],.listCheck input[type='radio'] {
  position:absolute;
  width:1px;
  height:1px;
  border:0;
  -webkit-appearance:none;
  clip:rect(0,0,0,0);
}
input[type='checkbox']+label {
  display:inline-block;
  height:2.2rem;
  line-height:2.1rem;
  padding:0 0 0 2.5rem;
  font-size:1.4rem;
  background:url(../images/check.png) no-repeat left center;
  cursor:pointer;
}
input[type='checkbox']:checked+label {
  background:url(../images/check_on.png) no-repeat left center;
}
input[type='radio']+label {
  display:inline-block;
  height:22px;
  line-height:21px;
  padding:0 0 0 25px;
  font-size:14px;
  background:url(../images/radio.png) no-repeat left center;
  cursor:pointer;
}
input[type='radio']:checked+label {
  background:url(../images/radio_on.png) no-repeat left center;
}
input[type='text'],input[type='password'] {
  height:28px;
  line-height:26px;
  padding:0 3px;
  font-size:14px;
  color:#333333;
}
input[type='text'] {
  width:100%;
}
select {
  min-width:120px;
  height:30px;
  margin:0;
  padding:5px 25px 6px 10px;
  border:1px solid#d0d0d0;
  background:url(../images/select_bg.gif) 100% 50% no-repeat;
  -webkit-appearance:none;
  -moz-appearance:none;
  -o-appearance:none;
  appearance:none;
  word-wrap:break-word;
  z-index:10;
}
select::-ms-expand {
  display:none;
} /* ie 기본 화살표 없앰 */

hr.padding {
  display:block;
  padding: 10px 0;
  border: 0;
  background: none;
}